absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
astunparse
async-timeout
attrs
bleach
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
datasets
dill
filelock
flask
flatbuffers
fonttools
frozenlist
fsspec
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h5py
httplib2
huggingface-hub
idna
importlib-metadata
importlib-resources
itsdangerous
jax
jax-cuda12-pjrt
jax-cuda12-plugin
jaxlib
jinja2
kagglehub
keras
keras-nlp
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
multidict
multiprocess
namex
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
opt-einsum
optree
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic-core
pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rich
rsa
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor
tqdm
typing-extensions
tzdata
uritemplate
urllib3
webencodings
werkzeug
wrapt
xxhash
yarl
zipp
