aiofiles
altair
annotated-types
anyio
asgiref
attrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
Django
django-ninja
dnspython
email_validator
fastapi
fastapi-cli
ffmpy
filelock
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httptools
httpx
huggingface-hub
idna
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
orjson
packaging
pandas
pillow
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-decouple
python-dotenv
python-multipart
pytz
PyYAML
referencing
requests
rich
rpds-py
ruff
semantic-version
shellingham
six
sniffio
sqlparse
starlette
tomlkit
toolz
tqdm
typer
typing_extensions
tzdata
ujson
urllib3
uvicorn
watchfiles
websockets
gunicorn
Pillow
overrides
ml_collections
einops~=0.7
sentencepiece
