absl-py
annotated-types
anyio
astunparse
certifi
charset-normalizer
click
exceptiongroup
fastapi
flatbuffers
gast
google-pasta
grpcio
h11
h5py
httptools
idna
jax
jax-cuda12-pjrt
jax-cuda12-plugin
jaxlib
kagglehub
keras
keras-nlp
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
opt-einsum
optree
packaging
protobuf
pydantic
pydantic_core
Pygments
python-dotenv
PyYAML
regex
requests
rich
scipy
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor
tqdm
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
wrapt
